@import 'index.scss';
.x-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 70px;
  padding-right: 70px;
  box-sizing: border-box;
  @include md {
    max-width: calc(100% - 60px);
    padding: 0;
  }
  @media (max-width: 575.98px) {
    max-width: calc(100% - 30px);
    padding: 0;
  }
  &-right {
    width: 100%;
    max-width: calc(100% - calc(50vw - 720px));
    margin-right: auto;
    padding-right: 70px;
    @include md {
      padding-right: 30px;
    }
    @include sm {
      padding-right: 15px;
    }
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  position: relative;
  transition: 0.3s;
  //overflow-x: hidden;
  font-family: $font-family;
  &.admin-bar {
    header {
      top: 32px;
      @media screen and (max-width: 782px) {
        top: 46px;
      }
    }
  }
}

.header {
  width: 100%;
  position: fixed;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
  background-color: white;
  z-index: 5;
  animation: headerAnimation 1s ease-out;
  @keyframes headerAnimation {
    0% {
      top: -100%;
    }
    100% {
      top: 0;
    }
  }
  .content {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include sm {
      padding: 15px 20px;
    }
    &__left {
      img {
        display: block;
        height: 60px;
        width: auto;
        @include md {
          height: 25px;
        }
      }
    }
    &__right {
      .avatar {
        &-circle {
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: #295eaa;
          font: 500 15px/20px $font-family;
          color: white;
        }
        &-list {
          background-color: #0e2860;
          a {
            color: white;
            padding: 18px 24px;
            font: 400 16px/20px $font-family;
            &:hover {
              background-color: rgba(14, 40, 96, 0.7);
            }
            i {
              margin-right: 8px;
            }
          }
        }
      }
      nav {
        display: flex;
        align-items: center;
      }
      a {
        display: flex;
        align-items: center;
        font: bold 14px/16px $font-family;
        color: #000000;
        text-decoration: none;
        margin-right: 25px;
      }
      .btn-text {
        color: #b1007a;
        text-decoration: none;
        font: 500 16px/20px $font-family;
      }
      .hamburguesa {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          position: relative;
          display: block;
          width: 20px;
          height: 2px;
          background-color: black;
          transition: 0.5s;
          &:before,
          &:after {
            content: '';
            width: 20px;
            height: 2px;
            position: absolute;
            background-color: black;
            transition: 0.5s;
          }
          &:before {
            top: -7px;
          }
          &:after {
            top: 7px;
          }
        }
        &.active span {
          background-color: transparent;
          &:before {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
          }

          &:after {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
      }
    }
  }
}

.menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: #00adad;
  transition: 0.5s;
  transform: translateY(-50%);
  &.active {
    left: 50%;
    transform: translate(-50%, -50%);
  }
  nav {
    a {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fbfbfb;
      text-align: center;
      font: 300 18px/24px $font-family;
      text-decoration: initial;
      padding: 15px 0;
    }
  }
}

.wrapper_sections {
  overflow: hidden;
  //padding-top: 100px;
}

.item {
  display: block;
  position: relative;
  border-radius: 16px;
  box-shadow: 0px 0px 8px -1px rgba(0, 41, 80, 0.25);
  overflow: hidden;
  text-decoration: none;
  color: #002950;
  margin-bottom: 20px;
  &__image {
    display: block;
    width: 100%;
    height: 192px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      transition: all 0.8s;
    }
  }
  &__date {
    position: absolute;
    top: 8px;
    right: 8px;
    text-align: center;
    padding: 7px 16px;
    background-color: white;
    box-shadow: 0px 0px 8px -1px rgba(0, 41, 80, 0.25);
    border-radius: 8px;
    z-index: 1;
    span {
      display: block;
      font-family: 'Exo';
      font-weight: 500;
      &.number {
        font-size: 24px;
        line-height: 24px;
      }
      &.name {
        font-size: 14px;
        line-height: 14px;
      }
    }
  }
  &__details {
    position: relative;
    padding: 24px 16px;
    .tags {
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin: -38px -4px 12px -4px;
      .tag {
        margin: 2px 4px;
        padding: 4px 8px;
        border-radius: 8px;
        font-family: $font-family;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: grey;
        background-color: lightgrey;
        &.color {
          &-green {
            color: #1d4b26;
            background-color: #d9ffe0;
          }
          &-blue {
            color: #173d82;
            background-color: #d0f3ff;
          }
          &-yellow {
            color: #002950;
            background-color: #ffefc2;
          }
        }
      }
    }
    .type {
      font-family: 'Exo';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 8px;
    }
    .title {
      font-family: $font-family;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 8px;
    }
    .location {
      font-family: $font-family;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      span {
        margin-left: 4px;
      }
    }
  }
  &__free {
    position: absolute;
    left: -50px;
    top: -50px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: end;
    justify-content: center;
    color: white;
    transform: rotate(-45deg);
    background-color: #248f00;
    font: 600 14px/18px 'Exo';
    z-index: 1;
  }
  &:hover {
    .item__image img {
      overflow: hidden;
      transform: scale(1.2);
    }
  }
}

.only {
  &-desktop {
    @include rwd(768px) {
      display: none !important;
    }
  }
  &-mobile {
    @include rwd-min(769px) {
      display: none !important;
    }
  }
}

.wrapper-section {
  position: relative;
  overflow: hidden;
}

.login-modal {
  .modal-content {
    overflow: hidden;
  }
  .vector {
    &-left {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: auto;
      svg {
        height: 100%;
        width: auto;
        display: block;
      }
    }
    &-right {
      position: absolute;
      right: 0;
      bottom: -110px;
      height: 100%;
      width: auto;
      svg {
        height: 100%;
        width: auto;
        display: block;
      }
    }
    &-character {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 346px;
      width: auto;
      z-index: 1;
      img {
        height: 100%;
        width: auto;
        object-fit: contain;
      }
    }
  }
  .wrapper {
    position: relative;
    display: block;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 24px 0;
    z-index: 2;
    .logo {
      width: 190px;
      height: auto;
      object-fit: contain;
      margin-bottom: 28px;
    }
    .title {
      color: #002950;
      font: 500 24px/28px $font-family;
      margin-bottom: 16px;
    }
  }

  .btn-text {
    color: #b1007a;
    text-decoration: none;
    font: 500 16px/20px $font-family;
  }

  .btn-close {
    position: absolute;
    top: 36px;
    right: 36px;
  }

  .btn-outline-purple {
    display: inline-block;
    padding: 14px 84px;
    cursor: pointer;
    color: #b1007a;
    font: 600 16px/20px $font-family;
    border: 2px solid #b1007a;
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 18px;
    i {
      margin-right: 12px;
    }
  }
  .btn-text-purple {
    display: inline-block;
    padding: 14px 84px;
    cursor: pointer;
    color: #b1007a;
    font: 600 16px/20px $font-family;
    text-decoration: none;
    i {
      margin-right: 12px;
    }
  }
}
